auto-save-list
bookmarks
bookmarks~
early-init.el~
elpaca
history
init.el~
org-roam.db
snippets
transient
straight
nov-places
\#bookmarks\#
.gitignore~
.org-id-locations
projectile-bookmarks.eld
projects
recentf