auto-save-list
bookmarks
bookmarks~
early-init.el~
elpaca
history
init.el~
org-roam.db
snippets
transient
straight
nov-places
\#bookmarks\#
.gitignore~
.org-id-locations
projectile-bookmarks.eld
projects
recentf
\#init.el\#
.cache
.lsp-session-v1
eclipse.jdt.ls
eln-cache
eww-bookmarks
init.el.backup
request
smudge
tramp
tree-sitter
url
webkit
workspace